KinectMCU/html/
KinectMCU/latex/
Kinect/KinectMCU.VC.db
Kinect/KinectMCU/x64/Debug/KinectMCU.tlog/CL.command.1.tlog
Kinect/KinectMCU/x64/Debug/KinectMCU.tlog/CL.read.1.tlog
Kinect/KinectMCU/x64/Debug/KinectMCU.tlog/KinectMCU.lastbuildstate
Kinect/KinectMCU/x64/Debug/KinectMCU.tlog/link.command.1.tlog
Kinect/KinectMCU/x64/Debug/KinectMCU.tlog/link.read.1.tlog
Kinect/KinectMCU.VC.VC.opendb
